<%= form_with(model: category) do |form| %>
  <div class= "container mt-5">
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<div class="field pt-5">
  <label class="label">Name</label>
  <div class="control">
   <%= form.text_field :name, class:"input", placeholder: "Category name" %>
  </div>
</div>
<div class="field">
  <label class="label">Icon</label>
  <div class="control">
  <%= form.text_field :icon, class:"input", placeholder: "Category icon" %>
  </div>
</div>
    <div class="p-4 footer-bg fixed-bottom d-flex justify-content-center">
      <button type="submit" class="button is-outlined footer-bg border btn-lg px-5 text-light"> Create category</button>
    </div>
  <% end %>
</div>
